<% name = current_user.present? ? current_user.email : 'please log in' %>
<h1> Welcome, <%= name %> <h1>
</br>
<% if current_user.present? %>
<%= link_to "Check out the spot with the most comments", spots_most_comments_path %>
<br>
</br>
<%= @user.email %>
<p>has the most comments</p>
<% end %>

